nav {
    font-size: 1.3em;
  }
  .nav-item {
    margin-right: 10px;
  }

  .navbar-brand {
    font-size: 1.4em;
    font-weight: 700;
  }

  .navbar-fixed-top.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
    color: #2196f3!important;
  }

  .navbar-fixed-top.scrolled .navbar-brand,.navbar-fixed-top.scrolled .navbar-nav .nav-link {
    color: #2196f3!important;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 20px;
  }